# Ignore tout par défaut
*

# Sauf les dossiers de code et ressources web
!lib/
!pages/
!styles/
!components/
!prisma/
!public/

# Sauf les fichiers de configuration
!.gitignore
!package.json
!package-lock.json
!next.config.js
!tailwind.config.js
!postcss.config.js
!vercel.json

# Autoriser les sous-dossiers et fichiers à l'intérieur
!**/
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx
!**/*.css
!**/*.json
!**/*.prisma
!**/*.png
!**/*.jpg
!**/*.jpeg
!**/*.svg
!**/*.ico
!**/*.webp
!**/*.mp4

# Toujours ignorer
.vercel
.next
.env*
node_modules

.vercel
.env*
